.home-page-sheets-upload-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 15px;
}
.home-page-sheets-upload-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
